test/steps/choice.json
{
  "StartAt": "Choices",
  "States": {
    "Choices": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.param1",
          "BooleanEquals": true,
          "Next": "Test"
        },
        {
          "Variable": "$.param1",
          "NumericEquals": 0,
          "Next": "Test"
        },
        {
          "Variable": "$.param1",
          "StringEquals": "test",
          "Next": "Test"
        },
        {
          "Variable": "$.param1",
          "TimestampEquals": "2001-01-01T12:00:00Z",
          "Next": "Test"
        },
        {
          "Variable": "$.param1",
          "NumericGreaterThan": 0,
          "Next": "Test"
        },
        {
          "Variable": "$.param1",
          "StringGreaterThan": "test",
          "Next": "Test"
        },
        {
          "Variable": "$.param1",
          "TimestampGreaterThan": "2001-01-01T12:00:00Z",
          "Next": "Test"
        },
        {
          "Variable": "$.param1",
          "NumericGreaterThanEquals": 10,
          "Next": "Test"
        },
        {
          "Variable": "$.param1",
          "StringGreaterThanEquals": "tester",
          "Next": "Test"
        },
        {
          "Variable": "$.param1",
          "TimestampGreaterThanEquals": "2001-02-01T12:00:00Z",
          "Next": "Test"
        },
        {
          "Variable": "$.param2",
          "NumericLessThan": 0,
          "Next": "Test"
        },
        {
          "Variable": "$.param2",
          "StringLessThan": "test",
          "Next": "Test"
        },
        {
          "Variable": "$.param2",
          "TimestampLessThan": "2001-01-01T12:00:00Z",
          "Next": "Test"
        },
        {
          "Variable": "$.param2",
          "NumericLessThanEquals": 10,
          "Next": "Test"
        },
        {
          "Variable": "$.param2",
          "StringLessThanEquals": "tester",
          "Next": "Test"
        },
        {
          "Variable": "$.param2",
          "TimestampLessThanEquals": "2001-02-01T12:00:00Z",
          "Next": "Test"
        },
        {
          "And": [
            {
              "Or": [
                {
                  "Variable": "$.param5",
                  "NumericGreaterThan": 10
                },
                {
                  "And": [
                    {
                      "Variable": "$.param6",
                      "StringEquals": "test"
                    },
                    {
                      "Not": {
                        "Variable": "$.param7",
                        "NumericEquals": 5
                      }
                    }
                  ]
                }
              ]
            },
            {
              "Not": {
                "Variable": "$.param8",
                "TimestampGreaterThan": "2001-01-01T13:00:00Z"
              }
            }
          ],
          "Next": "Test"
        },
        {
          "And": [
            {
              "Variable": "$.param1",
              "NumericEquals": 1
            },
            {
              "Variable": "$.param2",
              "StringEquals": "test"
            }
          ],
          "Next": "Test"
        },
        {
          "Or": [
            {
              "Variable": "$.param2",
              "NumericEquals": 1
            },
            {
              "Variable": "$.param3",
              "StringEquals": "test"
            }
          ],
          "Next": "Test"
        },
        {
          "Not": {
            "Variable": "$.param4",
            "NumericEquals": 0
          },
          "Next": "Test"
        }
      ],
      "Default": "Fail"
    },
    "Test": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-1:123456789012:function:test",
      "End": true
    },
    "Fail": {
      "Type": "Fail"
    }
  }
}
